'<template>
  <div class="flex-container home">
    <div class="home__left">
      <options></options>
    </div>
    <div class="home__right">
       <transition name="fade" mode="out-in">
          <h3 v-if="propsData.length === 0" class="no_results">К сожалению результаты не найдены :(</h3>
          <template v-else>
          <transition-group name="fade" tag="div">
            <infobox v-for="(d,i) in propsData" :info="d" :key="i"></infobox>
          </transition-group>
          </template>
      </transition>
    </div>
  </div>
</template>

<script>
import options from '@/components/options.vue'
import infobox from '@/components/infobox.vue'
import { mapState } from 'vuex'
export default {
  name: 'Home',
  components: {
    options,
    infobox
  },
  computed: {
    propsData () {
      let filtered = this.$store.getters.propsData
      let f_array =  this.optionsFilteredArray; 

      let result = filtered;

      if (f_array.includes('Только прямые')) result = result.filter(f => f.stops === 0)
      if (f_array.includes('Только с багажом')) result = result.filter(f => f.baggage > 0)
      if (f_array.includes('Только возвратные')) result = result.filter(f => f.refundable)

      filtered = result;

      if (this.companiesFilteredArray.length > 0) {
        let b = [];
        for (let res of filtered) {
          for (let filter of this.companiesFilteredArray) {
            if (filter == res.carrier) {
              b.push(res);
              break;
            }
          }
        }
        filtered = b
      }
      return filtered
  },
  ...mapState([
      'optionsFilteredArray',
      'companiesFilteredArray'
    ]
  )
  },
  created(){
    this.$store.commit('fetchData')
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: .3s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
  .home{
    padding: 45px 20px;
    &__left{
     width: 25%;
    }
    &__right{
      width: 75%;
      padding: 0 20px;
      text-align: left;
    }
  }
  .no_results{
    text-align: center;
    margin: 20px 0;
  }
  @media screen and (max-width: 1060px){
  .home__left{
    width: 100% !important;
  }
  .home__right{
    width: 100% !important;
    padding:0;
  }
}


</style>'