<template>
    <div class="infobox">
        <div class="infobox__left">
            <div class="avia_info">
                <div class="avia_info__head">
                    <img :src="'https://aviata.kz/static/airline-logos/80x80/' + flight.carrier +'.png'" alt="avia_logo">
                    <h5>{{flight.carrier_name }}</h5>
                </div>
                <div class="avia_info__main">
                    <div class="avia_info__time">
                        <p>{{dep_date}}</p>
                        <h3>{{dep_time}}</h3>
                    </div>
                    <div class="avia_info__dest">
                        <p>{{travel_time}}</p>
                        <div class="dest_line">
                            <span class="dest_line__text align_left">{{origin_code}}</span>
                            <span class="dest_line__text align_right">{{dest_code}}</span>
                            <div class="dest_line__circle align_left"></div>
                            <div class="dest_line__circle align_center"></div>
                            <div class="dest_line__circle align_right"></div>
                        </div>
                        <p v-if="flight.stops > 0" class="dest_stop">через {{stop_location}}, {{stop_time}}</p>
                    </div>
                    <div class="avia_info__time">
                        <p>{{arr_date}}<span v-if="date_difference > 0">+{{date_difference}}</span> </p>
                        <h3>{{arr_time}}</h3>
                    </div>
                </div>
            </div>
            <div class="avia_info__desciption">
                <a href="/" @click.prevent>Детали перелета</a>
                <a href="/" @click.prevent>Условия тарифа </a>
                <img src="@/assets/icons/icon-non-refundeble.svg" alt="nonrefundable" v-if="!flight.refundable">
                <p v-if="!flight.refundable">невозвратный</p>
            </div>
        </div>
        <div class="infobox__right">
            <p class="ticket_price">{{flight.price}}</p>
            <button class="ticket_choose" href="/" @click.prevent>Выбрать</button>
            <p class="passenger_price">Цена за всех пассажиров</p>
            <p class="luggage_info" v-if="luggage_value > 0">{{luggage_value}} {{luggage_unit}}<span>+ Добавить багаж</span></p>
            <p class="luggage_info" v-else>Нет багажа <span>+ Добавить багаж</span></p>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            dep_date: null,
            dep_time: null,
            dep_day: null,
            arr_date: null,
            arr_time: null,
            arr_day: null,
            date_difference: 0,
            ru_days:['ПН','ВТ' ,'СР' ,'ЧТ' ,'ПТ' ,'СБ', 'ВС'],
            travel_time: '',
            origin_code: null,
            dest_code: null,
            stop_location: null,
            stop_time: '',
            luggage_value: null,
            luggage_unit: null
        }
    },
    computed: {
        flight(){
        this.origin_code = this.info.origin_code
        this.dest_code = this.info.dest_code
        this.stop_location = this.info.stop_location
        this.luggage_value = this.info.baggage
        this.luggage_unit = this.info.baggage_unit

        //calculate total time of travelling
        let total_time = this.info.total_time
        let hours = Math.floor(total_time / 60 / 60)
        let minutes = Math.floor(total_time / 60) - (hours * 60)
        this.travel_time = hours + ' ч ' + minutes + ' м ';

        let d_time = this.info.dep_time
        this.dep_date = returnDates(d_time).date
        this.dep_time = returnDates(d_time).time
        this.dep_day = returnDates(d_time).day

        let a_time = this.info.arr_time;
        this.arr_date = returnDates(a_time).date
        this.arr_time = returnDates(a_time).time
        this.arr_day = returnDates(a_time).day

        //parse data according to flights stops
        if(this.info.stops > 0){
            //determine stop location and time
            let s_time = (new Date(this.info.dep_time_iso).getTime() - new Date(this.info.arr_time_iso).getTime()) / 1000;
            let h = Math.floor(s_time / 60 / 60)
            let m = Math.floor(s_time / 60) - (h * 60)
            this.stop_time = h + ' ч ' + m + ' м ';
        }
        //calculate difference in dep and arr dates
        this.date_difference = this.ru_days.indexOf(this.arr_day) - this.ru_days.indexOf(this.dep_day)

        //return object with dates
        function returnDates(a){
            let index = a.indexOf( ' ', a.indexOf( ' ' ) + 1 ) + 3;
            let d = a.substr( 0, index )
            let index1 = d.indexOf( ' ', d.indexOf( ' ' ) + 1 );
            return{
                date: d,
                time: a.substr( index + 1 ),
                day: d.substr(index1 + 1)
            }
        }
            return this.info
        }
    },
    props: ['info']
}
</script>

<style scoped lang="scss">
.luggage_info{
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
    color: #202123;
    span{
        cursor: pointer;
        white-space:nowrap;
        padding: 5px;
        font-size: 12px;
        line-height: 16px;
        color: #5763B3;
        background-color: #EAF0FA;
        border-radius: 2px;
        margin-left: 5px;
    }
}
.passenger_price{
    font-size: 12px;
    line-height: 16px;
    color: #707276;
}
.ticket_price{
    font-size: 24px;
    line-height: 28px;
    color: #202123;
}
.ticket_choose{
    width: 100%;
    margin: 12px 0;
    width: 100%;
    border: 1px solid #55BB06;
    font-weight: bold;
    background: #55BB06;
    border-radius: 4px;
    padding:12px 0;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease-out;
    line-height: 25px;
    &:hover{
        transform: scale(.95)
    }
}
.avia_info__main{
    display:flex;
}
.avia_info__head{
    display: flex;
    align-items: center;
}
.avia_info__desciption{
    margin: 0px 45px 20px 45px;
    display:flex;
    align-items: center;
    a{
        font-size: 12px;
        line-height: 16px;
        color: #7284E4;
        margin-right: 23px;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px dashed #7284E4;
    }
    img{
       transition: .3s ease-out;
       margin-right:7px;
       &:hover{
           transform: rotate(25deg)
       } 
    }
    p{
        font-size: 12px;
        line-height: 14px;
        color: #707276;
    }
}
.avia_info__dest{
    margin-left: 25px;
    min-width:170px;
    text-align: center;
    p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .dest_stop{
        color: #FF9900;
        margin-top: 5px;
    }
    .dest_line{
        width:100%;
        height: 1px;
        background-color:#B9B9B9;
        position: relative;
        &__circle{
            height:5px;
            width:5px;
            border-radius: 50%;
            border: 1px solid #B9B9B9;
            background-color:#FFFFFF;
            position: absolute;
            top:-2.5px;
        }
        &__text{
            font-size: 10px;
            line-height: 12px;
            color: #B9B9B9;
            position: absolute;
            top: -18px;
        }
        .align_left{
            left:0;
        }        
        .align_right{
            right:0;
        }
        .align_center{
            left:50%;
        }
    }
}
    .infobox{
        display: flex;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 12px;
        &__left{
            background-color: #FFFFFF;
            width: 70%;
        }
        &__right{
            background-color: #F5F5F5;
            width: 30%;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding:12px 20px;
        }
    }
    .avia_info{
        display:flex;
        align-items: center;
        padding: 45px;
        justify-content: space-between;
        img{
            max-width: 20px;
            margin-right: 12px;
        }
        &__time{
            text-align: center;
            margin-left: 30px;
            position: relative;
            p{
                font-size: 12px;
                line-height: 16px;
                color: #202123;
            }
            h3{
                font-size: 24px;
                line-height: 33px;
                color: #202123;
            }
            span{
                line-height: 14px;
                position: absolute;
                font-size: 10px; 
                right: -12px;
                color: rgba(255, 55, 36, 0.8);
            }
        }
    }
    @media screen and (max-width: 768px){
        .avia_info{
            flex-direction: column !important;
            justify-content: center;
        }
        .avia_info__head{
            margin-bottom: 15px;
        }
        .avia_info__desciption{
            a{
                display:none;
            }
        }
        .luggage_info{
            line-height: 22px;
        }
        .ticket_price{
            font-size: 20px;
        }
        .ticket_choose{
            font-size: 14px;
            padding:8px 0;
        }
    }
    @media screen and (max-width: 628px){
        .infobox{
            flex-direction: column;
        }
        .infobox__left{
            width: 100%;
        }
        .infobox__right{
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .ticket_choose{
                width: 40%;
                margin: 0;
            }
            .passenger_price{
                width: 100%;
                margin-top:10px;
            }
            .luggage_info{
                width: 100%;
            
            }
        }
        .avia_info__time{
            margin:0;
            p{
                font-size: 10px;
            }
            h3{
                font-size: 15px;
            }
        }
        .avia_info__dest{
            margin:0 15px;
        }
    }
</style>