<template>
  <div class="options">
    <div class="option_box" id="aviaTariffs">
      <div class="option_box__header">
        <h3>Опции тарифа </h3>
        <i v-if="optionsFilteredArray.length > 0" class="clear_filter" @click="clearFilter(optionsFilteredArray, 'aviaTariffs')"><span class="tooltiptext">Сбросить выбор</span></i>
      </div>
      <div class="option_box__body">
        <div class="checkbox_filter" v-for="(option,i) in optionsArray" :key="i" @click="toggleArray(option, i, 'option', 'aviaTariffs')" >
          <i class="empty_arr"></i>
          <span>{{option}}</span>
        </div>
      </div>
    </div>
    <div class="option_box" id="aviaCompanies">
      <div class="option_box__header">
        <h3>Авиакомпании</h3>
        <i v-if="companiesFilteredArray.length > 0" class="clear_filter" @click="clearFilter(companiesFilteredArray, 'aviaCompanies')"><span class="tooltiptext">Сбросить выбор</span></i>
      </div>
      <div class="option_box__body">
        <div class="checkbox_filter" v-for="(airline, code, i) in initialData.airlines" :key="code" @click="toggleArray(code, i, 'companies', 'aviaCompanies')" >
          <i class="empty_arr"></i>
          <span>{{airline}}</span>
        </div>
      </div>
    </div>
    <div class="clear_filters">
      <a href="/" @click.prevent="clearAllFilters">Сбросить все фильтры</a>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data(){
    return{
    }
  },
  methods:{
    clearAllFilters(){
      [].forEach.call(document.getElementsByClassName('empty_arr'), function(el) {
          el.classList.remove("active_arr");
      });
      this.clearFilteredArray(); 
      this.clearAviaFilteredArray();
    },
    ...mapMutations([
      'clearFilteredArray',
      'clearAviaFilteredArray'
    ]),
    clearFilter(arr, id){
      [].forEach.call(document.getElementById(id).getElementsByClassName('empty_arr'), function(el) {
          el.classList.remove("active_arr");
      });
      arr === this.optionsFilteredArray ? this.clearFilteredArray() : this.clearAviaFilteredArray();
    },
    toggleArray(option, index, arr, id){
      document.getElementById(id).getElementsByClassName('empty_arr')[index].classList.toggle('active_arr');
      this.$store.commit('toggleDataArray',{option, arr});
    }
  },
  computed: {
    ...mapState([
      'initialData',
      'optionsArray',
      'optionsFilteredArray',
      'companiesFilteredArray'
    ]
  )
  }
} 
</script>


<style scoped lang="scss">
.clear_filters{
  a{
    text-decoration: none;
    padding: 3px;
    color: #7284E4;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px dashed #7284E4;
  }
}
.options{
    display: flex;
    flex-direction: column;
}
  .clear_filter{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('~@/assets/icons/icon-close-filter.svg');
    transition: .2s ease-out;
    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #fff;;
      font-size: 12px;
      line-height: 16px;
      color: #202123;
      font-style: normal;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 180%;
      left: 50%;
      margin-left: -60px;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #FFFFFF transparent transparent transparent;
      }
    }
    &:hover{
      background-image: url('~@/assets/icons/icon-close-filter-hover.svg');
      .tooltiptext {
          visibility: visible;
        }
    }

  }
  .option_box{
    margin-bottom: 12px;
    background: #F5F5F5;
    border-radius: 4px;

    color: #202123;
    &__header{
      display:flex;
      align-items: center;
      padding: 12px;
      justify-content: space-between;
    h3{
      font-size: 14px;
      line-height: 20px;
    }
    }
    &__body{
      max-height: 240px;
      overflow-y: auto;
    }
  }
  .checkbox_filter{
    padding: 10px 13px;
    display: flex;
    align-items: center;
    transition: .2s ease-out;
    span{
      font-size: 12px;
      margin-left: 10px;
    }
    i{
      height: 12px;
      width: 12px;
    }
    .empty_arr{
        background-image: url('~@/assets/icons/check1.svg');
      }
    .active_arr{
        background-image: url('~@/assets/icons/check3.svg');
    }
    &:hover{
      cursor: pointer;
      background-color: #EBEBEB;
      .empty_arr{
        background-image: url('~@/assets/icons/check2.svg')
      }
      .active_arr{
        background-image: url('~@/assets/icons/check4.svg');
    }
    }
  }
  @media screen and (max-width: 1060px){
    .options{
      flex-direction: row !important;
      flex-wrap: wrap;
    }
    .option_box{
      width: 48%;
      margin: 10px 5px;
    }
    .clear_filters{
      width: 100%;
      text-align: center;
      margin: 5px 0 15px 0;
    }
}
    @media screen and (max-width: 628px){
    .options{
      flex-direction: column !important;
    }
    .option_box{
      width: 100%;
      margin: 0px 0px 10px 0;
    }
    }

</style>
