<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  *,
  *::after,
  *::before {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #D7D7D7;
    font-family: 'Open Sans', sans-serif;
  }


.flex-container {
    text-align: left;
    max-width: 1220px;
    min-width: 320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
  }

::-webkit-scrollbar {
    width: 3px;
}
 
 
::-webkit-scrollbar-thumb {
  background: #E1E1E1;
  border-radius: 2px;
}

</style>
